#vsb_content_2 H2 {
    font-size: 14px
;}
#vsb_content_2 .icon {
    border-right-width: 0px; margin: 3px 0px 0px; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px
;}
#vsb_content_2 IMG {
    border-bottom: #ccc 1px solid; border-left: #ccc 1px solid; border-top: #ccc 1px solid; border-right: #ccc 1px solid;}
#vsb_content_2 DIV {
    LINE-HEIGHT: 150%; text-indent: 2em; font-size: 14px
;}
#vsb_content_2 P {
    LINE-HEIGHT: 150%; text-indent: 2em; font-size: 14px
;}

#vsb_content_2 span {
    LINE-HEIGHT: 150%; text-indent: 2em; font-size: 14px
;}

#vsb_content_2 A {
    color: #1e50a2; text-decoration: underline
;}
#vsb_content_2 A:visited {
    color: #1e50a2; text-decoration: underline
;}
#vsb_content_2 A:hover {
    color: #ba2636
;}

#vsb_content_2 TABLE{ border-collapse:collapse;border:1px solid #000 } 
#vsb_content_2 TABLE TD{ text-indent: 2em;border:1px solid #000; } 

#vsb_content_2 TABLE TD P {
    text-indent: 0px; margin: 0px; font-size: 14px;LINE-HEIGHT: 150%;
;}
#vsb_content_2 TABLE TH P {
    text-indent: 2em;text-indent: 0px; margin: 0px; font-size: 1px;LINE-HEIGHT: 150%;
;}
#vsb_content_2 TABLE TD IMG {
    border-bottom-style: none; border-right-style: none; margin: 5px; border-top-style: none; border-left-style: none
;}
#vsb_content_2.fs p {
    LINE-HEIGHT: 150%; text-indent: 2em; font-size: 10px
;}

#vsb_content_2 .vsbcontent_start {
    text-indent: 0px; text-indent: 2em;font-size: 14px
}

#vsb_content_2 .vsbcontent_end {
    text-indent: 0px; text-indent: 2em;font-size: 14px
}

#vsb_content_2 .vsbcontent_img{
    text-align:center;text-indent:0px
}

#vsb_content_2 .vsbcontent_video{
    text-align:center;text-indent:0px
}

#vsb_content_2.newscontent_l p {
    font-size: 16px;
}        
#vsb_content_2.newscontent_m p {
    font-size: 14px;
} 
#vsb_content_2.newscontent_s p {
    font-size: 12px;
} 
