html {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
body {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
div {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
span {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
applet {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
object {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
iframe {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
h1 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
h2 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
h3 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
h4 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
h5 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
h6 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
p {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
blockquote {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
pre {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
a {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
abbr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
acronym {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
address {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
big {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
cite {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
code {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
del {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
dfn {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
em {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
img {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
ins {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
kbd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
q {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
s {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
samp {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
small {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
strike {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
strong {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
sub {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
sup {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
tt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
var {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
dl {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
dt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
dd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
ol {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
ul {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
li {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
fieldset {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
form {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
label {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
legend {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
table {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
caption {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
tbody {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
tfoot {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
thead {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
tr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
th {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
td {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; vertical-align: baseline;
}
input {
	padding: 0px; border: 1px solid rgb(16, 175, 136);
}
body {
	background: rgb(255, 255, 255); color: rgb(0, 0, 0); line-height: 1;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
table {
	vertical-align: middle; border-collapse: separate; border-spacing: 0;
}
caption {
	text-align: left; font-weight: normal; vertical-align: middle; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
th {
	text-align: left; font-weight: normal; vertical-align: middle; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
td {
	text-align: left; font-weight: normal; vertical-align: middle; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
a img {
	border: currentColor;
}
body {
	width: 100%;
}
body::before {
	display: table; content: "";
}
body::after {
	display: table; content: "";
}
body::after {
	clear: both;
}
#page-banner {
	border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; background-size: 500px; background-color: rgb(238, 238, 238); -webkit-background-size: 500px; -moz-background-size: 500px;
}
#banner {
	border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; background-size: 500px; background-color: rgb(238, 238, 238); -webkit-background-size: 500px; -moz-background-size: 500px;
}
@media not all, not all, not all, not all, all and (min-resolution:138dpi), not all
{
#page-banner {
	background-size: auto auto; -webkit-background-size: auto auto; -moz-background-size: auto auto;
}
#banner {
	background-size: auto auto; -webkit-background-size: auto auto; -moz-background-size: auto auto;
}
#page-banner {
	background-size: auto auto; -webkit-background-size: auto auto; -moz-background-size: auto auto;
}
#banner {
	background-size: auto auto; -webkit-background-size: auto auto; -moz-background-size: auto auto;
}
}
#main-nav-toggle::before {
	text-transform: none; font-family: icomoon; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
#github-btn::before {
	text-transform: none; font-family: icomoon; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
#search-btn::before {
	text-transform: none; font-family: icomoon; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
#page-edit-link::before {
	text-transform: none; font-family: icomoon; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.page-entry blockquote::before {
	text-transform: none; font-family: icomoon; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
#page-footer-prev::before {
	text-transform: none; font-family: icomoon; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
#page-footer-next::after {
	text-transform: none; font-family: icomoon; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
#news-subscribe-link::before {
	text-transform: none; font-family: icomoon; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.api-deprecated-msg::before {
	text-transform: none; font-family: icomoon; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
#banner-getting-started-btn::before {
	text-transform: none; font-family: icomoon; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.intro-feature::before {
	text-transform: none; font-family: icomoon; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.footer-link::before {
	text-transform: none; font-family: icomoon; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
#page-edit-link {
	margin: auto; transition:color 0.2s; top: 0px; width: 24px; height: 24px; text-align: center; right: 0px; bottom: 0px; color: rgb(170, 170, 170); line-height: 24px; font-size: 24px; text-decoration: none; position: absolute; text-shadow: 1px 0px #eee; -webkit-transition: color 0.2s; -moz-transition: color 0.2s;
}
#news-subscribe-link {
	margin: auto; transition:color 0.2s; top: 0px; width: 24px; height: 24px; text-align: center; right: 0px; bottom: 0px; color: rgb(170, 170, 170); line-height: 24px; font-size: 24px; text-decoration: none; position: absolute; text-shadow: 1px 0px #eee; -webkit-transition: color 0.2s; -moz-transition: color 0.2s;
}
#page-edit-link:hover {
	color: rgb(136, 136, 136);
}
#news-subscribe-link:hover {
	color: rgb(136, 136, 136);
}
body {
	font: 14px/normal "Helvetica Neue", Helvetica, Arial, sans-serif; font-size-adjust: none; font-stretch: normal; -webkit-text-size-adjust: 100%;
}
.outer {
	margin: 0px auto;
}
.outer::before {
	display: table; content: "";
}
.outer::after {
	display: table; content: "";
}
.outer::after {
	clear: both;
}
.inner {
	width: 100%; float: left; display: inline;
}
#header {
	background: rgb(255, 255, 255); padding-top: 30px; padding-bottom: 30px; font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
#logo-wrap {
	text-align: center; position: relative;
}
#logo-wrap {
	float: left;
}
#logo {
	width: 127px; height: 30px; text-indent: 100%; overflow: hidden; display: block; white-space: nowrap; background-image: url("images/logo.png");
}
@media not all, not all, not all, not all, all and (min-resolution:138dpi), not all
{
#logo {
	background-image: url("images/logo@2x.png"); background-size: 127px 30px; -webkit-background-size: 127px 30px; -moz-background-size: 127px 30px;
}
}
#main-nav-toggle {
	margin: auto; top: 0px; width: 30px; height: 30px; text-align: center; right: 0px; bottom: 0px; color: rgb(153, 153, 153); font-size: 24px; float: right; position: absolute; cursor: pointer; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
#main-nav-toggle::before {
	margin: auto; left: 0px; top: 0px; width: 24px; height: 24px; right: 0px; bottom: 0px; position: absolute; content: "\f0c9";
}
#main-nav-toggle:hover {
	color: rgb(85, 85, 85);
}
#main-nav-toggle:active {
	color: rgb(85, 85, 85);
}
#main-nav-toggle {
	display: none;
}
.on#main-nav {
	display: block;
}
#main-nav {
	margin: 0px; float: right;
}
#main-nav-list {
	float: left;
}
.main-nav-item {
	margin: 10px;
}
.main-nav-item {
	margin: 0px 15px; float: left;
}
.main-nav-link {
	padding: 10px 15px; transition:0.2s; text-align: center; color: rgb(153, 153, 153); text-transform: uppercase; line-height: 1; font-weight: bold; text-decoration: none; display: block; -webkit-transition: 0.2s; -moz-transition: 0.2s;
}
.main-nav-link {
	padding: 10px 0px;
}
.main-nav-link:hover {
	color: rgb(16, 175, 136);
}
.main-nav-link:active {
	color: rgb(16, 175, 136);
}
.main-nav-link:hover {
	background: rgb(16, 175, 136); border-radius: 4px; color: rgb(255, 255, 255); -webkit-border-radius: 4px;
}
.main-nav-link:active {
	background: rgb(16, 175, 136); border-radius: 4px; color: rgb(255, 255, 255); -webkit-border-radius: 4px;
}
#github-btn {
	padding: 8px; transition:color 0.2s; width: 18px; height: 18px; text-align: center; color: rgb(153, 153, 153); line-height: 18px; text-decoration: none; float: left; display: none; cursor: pointer; -webkit-transition: color 0.2s; -moz-transition: color 0.2s;
}
#search-btn {
	padding: 8px; transition:color 0.2s; width: 18px; height: 18px; text-align: center; color: rgb(153, 153, 153); line-height: 18px; text-decoration: none; float: left; display: none; cursor: pointer; -webkit-transition: color 0.2s; -moz-transition: color 0.2s;
}
#github-btn:hover {
	color: rgb(16, 175, 136);
}
#search-btn:hover {
	color: rgb(16, 175, 136);
}
#github-btn::before {
	font-size: 18px;
}
#search-btn::before {
	font-size: 18px;
}
#github-btn {
	display: block;
}
#search-btn {
	display: block;
}
#github-btn {
	display: block;
}
#search-btn {
	display: block;
}
#github-btn::before {
	content: "\f113";
}
#search-btn::before {
	content: "\f002";
}
#page-banner {
	padding: 30px 0px; text-align: center;
}
#page-banner {
	padding: 20px 0px; text-align: left;
}
#page-banner-inner {
	position: relative;
}
#page-title {
	font: 300 20px/1em Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; color: rgb(85, 85, 85); font-size-adjust: none; font-stretch: normal; text-shadow: 1px 0px #eee;
}
#page-edit-link::before {
	content: "\f040";
}
.page-content {
	display: inline;
}
.page-entry {
	color: rgb(68, 68, 68); line-height: 1.6em;
}
.page-entry p {
	white-space: pre-wrap;
}
.page-entry p {
	margin: 1.6em 0px; line-height: 1.9em;
}
.page-entry ol {
	margin: 1.6em 0px; line-height: 1.9em;
}
.page-entry ul {
	margin: 1.6em 0px; line-height: 1.9em;
}
.page-entry dl {
	margin: 1.6em 0px; line-height: 1.9em;
}
.page-entry table {
	margin: 1.6em 0px; line-height: 1.9em;
}
.page-entry blockquote {
	margin: 1.6em 0px; line-height: 1.9em;
}
.page-entry iframe {
	margin: 1.6em 0px; line-height: 1.9em;
}
.page-entry .highlight {
	margin: 1.6em 0px; line-height: 1.9em;
}
.page-entry td p {
	margin: 0.1em 0px;
}
.page-entry h1 {
	font-size: 2em;
}
.page-entry h2 {
	font-size: 1.5em;
}
.page-entry h3 {
	font-size: 1.3em;
}
.page-entry h1 {
	margin: 1em 0px; line-height: 1em; font-weight: bold;
}
.page-entry h2 {
	margin: 1em 0px; line-height: 1em; font-weight: bold;
}
.page-entry h3 {
	margin: 1em 0px; line-height: 1em; font-weight: bold;
}
.page-entry h4 {
	margin: 1em 0px; line-height: 1em; font-weight: bold;
}
.page-entry h5 {
	margin: 1em 0px; line-height: 1em; font-weight: bold;
}
.page-entry h6 {
	margin: 1em 0px; line-height: 1em; font-weight: bold;
}
.page-entry a {
	color: rgb(16, 175, 136); text-decoration: none;
}
.page-entry a:hover {
	text-decoration: underline;
}
.page-entry strong {
	font-weight: bold;
}
.page-entry em {
	font-style: italic;
}
.page-entry ul {
	margin-left: 20px;
}
.page-entry ol {
	margin-left: 20px;
}
.page-entry dl {
	margin-left: 20px;
}
.page-entry ul ul {
	margin-top: 0px; margin-bottom: 0px;
}
.page-entry ol ul {
	margin-top: 0px; margin-bottom: 0px;
}
.page-entry dl ul {
	margin-top: 0px; margin-bottom: 0px;
}
.page-entry ul ol {
	margin-top: 0px; margin-bottom: 0px;
}
.page-entry ol ol {
	margin-top: 0px; margin-bottom: 0px;
}
.page-entry dl ol {
	margin-top: 0px; margin-bottom: 0px;
}
.page-entry ul dl {
	margin-top: 0px; margin-bottom: 0px;
}
.page-entry ol dl {
	margin-top: 0px; margin-bottom: 0px;
}
.page-entry dl dl {
	margin-top: 0px; margin-bottom: 0px;
}
.page-entry ul {
	
}
.page-entry ol {
	list-style: decimal;
}
.page-entry dl {
	list-style: square;
}
.page-entry li p {
	margin: 0px;
}
.page-entry li table {
	margin: 1em 0px;
}
.page-entry li blockquote {
	margin: 1em 0px;
}
.page-entry li iframe {
	margin: 1em 0px;
}
.page-entry li .highlight {
	margin: 1em 0px;
}
.page-entry blockquote {
	border-width: 1px 1px 1px 4px; border-style: solid; border-color: rgb(221, 221, 221); padding: 0px 20px; position: relative;
}
.page-entry blockquote {
	margin-left: 40px;
}
.page-entry blockquote footer {
	margin: 1em 0px; font-style: italic;
}
.page-entry blockquote footer cite a {
	color: rgb(153, 153, 153);
}
.page-entry .success.note {
	border-left-color: rgb(80, 175, 81);
}
.page-entry .info.note {
	border-left-color: rgb(91, 192, 222);
}
.page-entry .warn.note {
	border-left-color: rgb(240, 173, 78);
}
.page-entry .danger.note {
	border-left-color: rgb(217, 83, 79);
}
.page-entry .note-title {
	margin: 1em 0px; font-size: 1.3em; font-weight: bold; display: block;
}
.page-entry table {
	width: 100%; border-top-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;
}
.page-entry table th {
	background: rgb(238, 238, 238); font-weight: bold;
}
.page-entry table th {
	padding: 5px 15px;
}
.page-entry table td {
	padding: 5px 15px;
}
.page-entry table tr:nth-child(2n) {
	
}
#page-footer {
	padding: 1em 0px 30px; text-align: center; color: rgb(153, 153, 153); border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
#page-footer::before {
	display: table; content: "";
}
#page-footer::after {
	display: table; content: "";
}
#page-footer::after {
	clear: both;
}
#page-footer-updated {
	font-size: 0.9em; display: none;
}
#page-footer-updated {
	display: inline;
}
#page-footer-prev {
	color: rgb(16, 175, 136); text-transform: uppercase; font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1em; font-weight: bold; text-decoration: none;
}
#page-footer-next {
	color: rgb(16, 175, 136); text-transform: uppercase; font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1em; font-weight: bold; text-decoration: none;
}
#page-footer-prev {
	float: left;
}
#page-footer-prev::before {
	padding-right: 10px; content: "\f060";
}
#page-footer-next {
	float: right;
}
#page-footer-next::after {
	padding-left: 10px; content: "\f061";
}
#page-mobile-menu {
	margin: 30px 0px 0px; width: 100%; display: none;
}
.toc-wrap {
	background: rgb(238, 238, 238); margin: 1.6em 0px 1em 2em; padding: 10px 15px; border-radius: 4px; border: 1px solid rgb(221, 221, 221); line-height: 1.6em; float: right; -webkit-border-radius: 4px;
}
.toc-title {
	color: rgb(68, 68, 68); font-weight: bold;
}
.toc-link {
	color: rgb(16, 175, 136); font-size: 0.9em; text-decoration: none;
}
.toc-link:hover {
	text-decoration: underline;
}
.toc-child {
	margin-left: 1em;
}
#sidebar {
	margin: 0px 1.22%; padding: 30px 0px 40px; font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sidebar-title {
	margin: 10px 0px; color: rgb(102, 102, 102); overflow: hidden; padding-left: 20px; font-size: 102%; display: block; white-space: nowrap; position: relative; -ms-text-overflow: ellipsis;
}
.sidebar-title::before {
	background: rgb(102, 102, 102); border-radius: 50%; left: 0px; top: 7px; width: 8px; height: 8px; position: absolute; content: ""; -webkit-border-radius: 50%;
}
.sidebar-link {
	padding: 5px 15px; color: rgb(102, 102, 102); overflow: hidden; font-weight: 300; text-decoration: none; margin-left: 3px; border-left-color: rgb(221, 221, 221); border-left-width: 2px; border-left-style: solid; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.sidebar-link:hover {
	border-color: rgb(16, 175, 136); color: rgb(16, 175, 136);
}
.current.sidebar-link {
	border-color: rgb(16, 175, 136); color: rgb(16, 175, 136);
}
.current.sidebar-link {
	font-weight: bold; border-left-color: rgb(16, 175, 136);
}
#news-subscribe-link::before {
	content: "\f09e";
}
#post-list {
	padding-bottom: 30px;
}
.post {
	margin: 0px auto; padding: 20px 0px; width: 860px;
}
.full.post {
	padding: 60px 0px 30px;
}
.post-header {
	text-align: center;
}
.post-title {
	font: 300 2em/1.2em Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; transition:color 0.2s; color: rgb(68, 68, 68); text-decoration: none; font-size-adjust: none; font-stretch: normal; -webkit-transition: color 0.2s; -moz-transition: color 0.2s;
}
a.post-title:hover {
	color: rgb(16, 175, 136);
}
.post-date-wrap {
	padding: 20px 0px;
}
.post-date {
	background: rgb(255, 255, 255); font: 300 0.9em/1em Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 0px 8px; transition:color 0.2s; color: rgb(153, 153, 153); text-decoration: none; position: relative; font-size-adjust: none; font-stretch: normal; -webkit-transition: color 0.2s; -moz-transition: color 0.2s;
}
.post-date:hover {
	color: rgb(68, 68, 68);
}
.post-footer {
	padding: 20px 0px 40px;
}
#api-header {
	margin: 1.6em 0px;
}
#api-header::before {
	display: table; content: "";
}
#api-header::after {
	display: table; content: "";
}
#api-header::after {
	clear: both;
}
#api-title {
	color: rgb(68, 68, 68); font-size: 2em; font-weight: bold; margin-bottom: 4px;
}
.api-meta {
	color: rgb(153, 153, 153); line-height: 1.6em; font-size: 0.85em; float: left;
}
.api-meta a {
	color: rgb(16, 175, 136); text-decoration: none;
}
.api-meta a:hover {
	text-decoration: underline;
}
.api-options {
	color: rgb(68, 68, 68); font-size: 0.85em; float: right;
}
.api-section-title {
	padding-top: 1em; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.api-item {
	margin: 2.5em 0px;
}
.private.api-item {
	display: none;
}
.protected.api-item {
	display: none;
}
.deprecated.api-item {
	display: none;
}
.api-item-title {
	font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace; font-weight: normal; margin-bottom: 6px; display: inline;
}
.api-item-title a {
	color: rgb(68, 68, 68);
}
.api-item-params {
	font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace;
}
.api-deprecated-msg {
	margin: 1.6em 0px; color: rgb(68, 68, 68);
}
.api-deprecated-msg::before {
	color: rgb(255, 0, 0); content: "\f06a";
}
.api-deprecated-msg strong {
	color: rgb(255, 0, 0); font-weight: bold;
}
.api-item-type {
	color: rgb(153, 153, 153);
}
.api-item-type a {
	border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: dotted;
}
.api-item-type span {
	border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: dotted;
}
.api-item-type a:hover {
	text-decoration: none;
}
.api-item-type span {
	color: rgb(68, 68, 68);
}
.api-item-flag {
	background: rgb(153, 153, 153); margin: 0px 6px; padding: 3px 5px; border-radius: 3px; color: rgb(255, 255, 255); font-size: 0.85em; -webkit-border-radius: 3px;
}
.api-item-meta {
	color: rgb(153, 153, 153); line-height: 1.6em; font-size: 0.85em;
}
.api-item-meta a {
	color: rgb(16, 175, 136); text-decoration: none;
}
.api-item-meta a:hover {
	text-decoration: underline;
}
.api-item-subtitle {
	margin: 1.6em 0px;
}
#banner {
	padding-top: 50px; padding-bottom: 50px;
}
#banner {
	padding-top: 150px;
}
#banner-title {
	font: 300 35px/1.3 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; color: rgb(85, 85, 85); font-size-adjust: none; font-stretch: normal; text-shadow: 1px 0px #eee;
}
#banner-getting-started-prefix {
	line-height: 40px; font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace; font-size: 14px;
}
#banner-getting-started-input {
	line-height: 40px; font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace; font-size: 14px;
}
#banner-getting-started-prefix {
	font-size: 16px;
}
#banner-getting-started-input {
	font-size: 16px;
}
#banner-getting-started-prefix {
	font-size: 16px;
}
#banner-getting-started-input {
	font-size: 16px;
}
#banner-getting-started {
	padding-top: 30px;
}
#banner-getting-started::before {
	display: table; content: "";
}
#banner-getting-started::after {
	display: table; content: "";
}
#banner-getting-started::after {
	clear: both;
}
#banner-getting-started-prefix {
	background: rgb(200, 200, 200); color: rgb(153, 153, 153); padding-left: 15px; float: left;
}
#banner-getting-started-input {
	background: rgb(200, 200, 200); margin: 0px; padding: 0px 15px; border-radius: 0px; border: currentColor; height: 40px; color: rgb(85, 85, 85); float: left; -webkit-border-radius: 0;
}
#banner-getting-started-btn {
	background: rgb(187, 187, 187); width: 40px; height: 40px; text-align: center; color: rgb(119, 119, 119); line-height: 40px; font-size: 16px; text-decoration: none; float: left;
}
#banner-getting-started-btn:hover {
	background: rgb(170, 170, 170); color: rgb(85, 85, 85);
}
#banner-getting-started-btn::before {
	content: "\f061";
}
#banner-share {
	padding: 100px 0px 0px; display: none;
}
#banner-share {
	display: block;
}
.intro-wrap {
	padding: 20px 0px;
}
.intro-wrap {
	padding: 40px 0px;
}
.intro-feature-wrap {
	margin: 0px 1.22%; width: 97.54%; float: left; display: inline;
}
.intro-feature-wrap {
	margin: 0px 1.22%; width: 47.54%; float: left; display: inline;
}
.intro-feature {
	margin: 20px 0px; padding-left: 50px; position: relative;
}
.intro-feature {
	margin: 40px 0px;
}
.intro-feature::before {
	left: 0px; top: 0px; color: rgb(16, 175, 136); font-size: 30px; position: absolute;
}
#intro-feature-fast::before {
	content: "\e604";
}
#intro-feature-markdown::before {
	content: "\e606";
}
#intro-feature-deploy::before {
	content: "\e603";
}
#intro-feature-plugin::before {
	content: "\e605";
}
.intro-feature-title {
	color: rgb(16, 175, 136); line-height: 1.3em; padding-bottom: 20px; font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 24px; font-weight: 300;
}
.intro-feature-desc {
	color: rgb(68, 68, 68); line-height: 2em;
}
#intro-cmd-wrap {
	background: rgb(238, 238, 238); margin: 20px auto; padding: 15px 0px; width: 700px; overflow: auto;
}
#intro-cmd-wrap {
	margin: 40px auto;
}
.intro-cmd-item {
	color: rgb(68, 68, 68); line-height: 1.8; font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace; font-size: 16px; white-space: nowrap;
}
.intro-cmd-item::before {
	color: rgb(16, 175, 136); padding-right: 10px; content: "$";
}
#intro-btn-wrap {
	padding: 25px 0px; text-align: center;
}
#intro-btn {
	padding: 15px 30px; border-radius: 3px; border: 3px solid rgb(16, 175, 136); transition:0.2s; color: rgb(16, 175, 136); text-transform: uppercase; line-height: 1; font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none; display: inline-block; -webkit-transition: 0.2s; -moz-transition: 0.2s; -webkit-border-radius: 3px;
}
#intro-btn:hover {
	background: rgb(16, 175, 136); color: rgb(255, 255, 255);
}
#footer {
	padding: 30px 0px; text-align: center; color: rgb(153, 153, 153); line-height: 1.5; font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; margin-top: 10px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
#footer {
	text-align: center;
}
#footer-copyright {
	
}
#footer-copyright a {
	color: rgb(119, 119, 119); text-decoration: none;
}
#footer-copyright a:hover {
	color: rgb(16, 175, 136); text-decoration: underline;
}
#footer-links {
	margin-right: -10px; float: right;
}
.footer-link {
	margin: 0px 10px; transition:color 0.2s; width: 30px; height: 30px; text-align: center; color: rgb(153, 153, 153); line-height: 30px; font-size: 30px; text-decoration: none; display: inline-block; -webkit-transition: color 0.2s; -moz-transition: color 0.2s;
}
.footer-link:hover {
	color: rgb(16, 175, 136);
}
.footer-link span {
	display: none;
}
#footer-link-twitter::before {
	content: "\f099";
}
#footer-link-github::before {
	content: "\f113";
}
pre {
	background: rgb(238, 238, 238); color: rgb(77, 77, 76); font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace; font-size: 13px;
}
code {
	background: rgb(238, 238, 238); color: rgb(77, 77, 76); font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace; font-size: 13px;
}
code {
	padding: 0px 5px; border-radius: 2px; border: 1px solid rgb(221, 221, 221); -webkit-border-radius: 2px;
}
pre {
	padding: 10px 15px; border-radius: 4px; border: 1px solid rgb(221, 221, 221); line-height: 22px; -webkit-border-radius: 4px;
}
pre code {
	padding: 0px; border: currentColor; display: block;
}
.highlight {
	background: rgb(238, 238, 238); margin: 0px; padding: 10px 15px; border-radius: 4px; border: 1px solid rgb(221, 221, 221); color: rgb(77, 77, 76); overflow: auto; -webkit-border-radius: 4px;
}
.highlight figcaption {
	margin: -5px 0px 5px; color: rgb(153, 153, 153); font-size: 0.9em;
}
.highlight figcaption::before {
	display: table; content: "";
}
.highlight figcaption::after {
	display: table; content: "";
}
.highlight figcaption::after {
	clear: both;
}
.highlight figcaption a {
	float: right;
}
.highlight pre {
	padding: 0px; border: currentColor;
}
.highlight .line {
	height: 22px;
}
pre .comment {
	color: rgb(142, 144, 140);
}
pre .title {
	color: rgb(142, 144, 140);
}
pre .variable {
	color: rgb(200, 40, 41);
}
pre .attribute {
	color: rgb(200, 40, 41);
}
pre .tag {
	color: rgb(200, 40, 41);
}
pre .regexp {
	color: rgb(200, 40, 41);
}
pre .ruby .constant {
	color: rgb(200, 40, 41);
}
pre .xml .tag .title {
	color: rgb(200, 40, 41);
}
pre .xml .pi {
	color: rgb(200, 40, 41);
}
pre .xml .doctype {
	color: rgb(200, 40, 41);
}
pre .html .doctype {
	color: rgb(200, 40, 41);
}
pre .css .id {
	color: rgb(200, 40, 41);
}
pre .css .class {
	color: rgb(200, 40, 41);
}
pre .css .pseudo {
	color: rgb(200, 40, 41);
}
pre .number {
	color: rgb(245, 135, 31);
}
pre .preprocessor {
	color: rgb(245, 135, 31);
}
pre .built_in {
	color: rgb(245, 135, 31);
}
pre .literal {
	color: rgb(245, 135, 31);
}
pre .params {
	color: rgb(245, 135, 31);
}
pre .constant {
	color: rgb(245, 135, 31);
}
pre .class {
	color: rgb(113, 140, 0);
}
pre .ruby .class .title {
	color: rgb(113, 140, 0);
}
pre .css .rules .attribute {
	color: rgb(113, 140, 0);
}
pre .string {
	color: rgb(113, 140, 0);
}
pre .value {
	color: rgb(113, 140, 0);
}
pre .inheritance {
	color: rgb(113, 140, 0);
}
pre .header {
	color: rgb(113, 140, 0);
}
pre .ruby .symbol {
	color: rgb(113, 140, 0);
}
pre .xml .cdata {
	color: rgb(113, 140, 0);
}
pre .css .hexcolor {
	color: rgb(62, 153, 159);
}
pre .function {
	color: rgb(66, 113, 174);
}
pre .python .decorator {
	color: rgb(66, 113, 174);
}
pre .python .title {
	color: rgb(66, 113, 174);
}
pre .ruby .function .title {
	color: rgb(66, 113, 174);
}
pre .ruby .title .keyword {
	color: rgb(66, 113, 174);
}
pre .perl .sub {
	color: rgb(66, 113, 174);
}
pre .javascript .title {
	color: rgb(66, 113, 174);
}
pre .coffeescript .title {
	color: rgb(66, 113, 174);
}
pre .keyword {
	color: rgb(137, 89, 168);
}
pre .javascript .function {
	color: rgb(137, 89, 168);
}
.call_out_icon {
	left: -40px; top: 20px; font-size: 25px; position: absolute;
}
em.d_callout_icon_info {
	color: rgb(91, 192, 222);
}
em.d_callout_icon_warn {
	color: rgb(240, 173, 78);
}
em.d_callout_icon_danger {
	color: rgb(217, 83, 79);
}
em.d_callout_icon_success {
	color: rgb(80, 175, 81);
}
.document_a {
	margin: 10px 0px; padding: 0px 0px 0px 2px; border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
.document_em {
	margin-right: 12px;
}
.version_s {
	margin-left: 10px;
}
.search_area input[type='text'] {
	padding: 0px 10px; width: 200px; height: 25px; margin-top: 5px; float: left;
}
.search_area input[type='button'] {
	padding: 5px 10px; border: 0px currentColor; height: 27px; color: rgb(255, 255, 255); margin-top: 5px; float: left; cursor: pointer; background-color: rgb(17, 167, 130);
}
.search_area input[type='button']:hover {
	background-color: rgb(16, 175, 136);
}
.search_results .highlight {
	padding: 0px; border: currentColor; color: rgb(221, 75, 57);
}
.search_results li {
	margin-bottom: 10px;
}
.search_results a {
	font-size: 16px;
}
.up_btn {
	right: 120px; bottom: 180px; color: rgb(102, 102, 102); font-size: 30px; display: none; position: fixed; cursor: pointer;
}
.up_btn:hover {
	color: rgb(16, 175, 136);
}
.dl_icon {
	padding: 0px 15px; line-height: 36px; font-size: 20px; float: right;
}
.dl_icon a {
	color: rgb(16, 175, 136);
}
.clear {
	clear: both;
}
@media all and (min-width:768px)
{
#sidebar {
	width: 22.54%; float: left; display: block;
}
.outer {
	padding: 0px 25px; width: 1045px;
}
.page-content {
	width: 73%; float: right;
}
#main-nav {
	display: block;
}
#dl_icon {
	display: block;
}
#navi_icon {
	display: none;
}
.up_btn {
	right: 120px;
}
.version_s {
	display: inline;
}
.bdshare-slide-button {
	display: block !important;
}
}
@media all and (max-width:768px)
{
#sidebar {
	width: 90%;
}
.outer {
	padding: 0px; width: 95%;
}
.page-content {
	width: 95%;
}
#main-nav {
	display: none;
}
#dl_icon {
	display: none;
}
#navi_icon {
	display: block;
}
.up_btn {
	right: 40px;
}
.version_s {
	display: none;
}
.navi_show {
	display: block;
}
.navi_hidden {
	display: none;
}
.icon_active {
	color: rgb(16, 175, 136);
}
.icon_no_active {
	color: rgb(170, 170, 170);
}
.navi_icon {
	padding: 0px 5px 0px 0px; line-height: 36px; font-size: 20px; float: left; cursor: pointer;
}
.bdshare-slide-button {
	display: none !important;
}
}
pre code {
	overflow: auto;
}
